<mat-toolbar>
  <span class="navbar-icon" style="font-size: x-large">🚚</span>
  <button mat-button class="navbar-tab" (click)="this.changeDomain(this.domains.calendar)">Calendar</button>
  <button mat-button class="navbar-tab" (click)="this.changeDomain(this.domains.drivers)">Drivers</button>
  <button mat-button class="navbar-tab" (click)="this.changeDomain(this.domains.trucks)">Trucks</button>
  <button mat-button class="navbar-tab" (click)="this.changeDomain(this.domains.branches)">Branches</button>
  <button mat-button class="navbar-tab" (click)="this.changeDomain(this.domains.banks)">Banks</button>
  <button mat-button class="navbar-tab" (click)="this.changeDomain(this.domains.products)">Products</button>
  <button mat-button class="navbar-tab" [matBadge]="this.ordersCount" matBadgePosition="after" (click)="this.changeDomain(this.domains.orders)">Orders
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>

<company-calendar *ngIf="this.currentDomain === this.domains.calendar"></company-calendar>
<company-drivers *ngIf="this.currentDomain === this.domains.drivers"></company-drivers>
<company-trucks *ngIf="this.currentDomain === this.domains.trucks"></company-trucks>
<company-branches *ngIf="this.currentDomain === this.domains.branches"></company-branches>
<company-banks *ngIf="this.currentDomain === this.domains.banks"></company-banks>
<company-products *ngIf="this.currentDomain === this.domains.products"></company-products>
<company-orders *ngIf="this.currentDomain === this.domains.orders"></company-orders>
