<div class="col w-auto h-100 mt-4 gx-4">
      <mat-card>
        <mat-card-title class="company"> {{this.data.Company}} </mat-card-title>
        <mat-card-subtitle class="title">
          {{this.data.Name}}
        </mat-card-subtitle>
        <mat-card-content>
          <h4><span class="foot"><i class="fa fa-shekel-sign"></i> {{this.data.Price}}</span></h4>
          <p class="dimension">
            size:{{this.data.space}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn"><i class="fa fa-shopping-bag"></i> Order Now</button>
        </mat-card-actions>
      </mat-card>
</div>
