@import url('https://fonts.googleapis.com/css?family=Muli');
.cards-page{
  padding: 20px;
  align-content: center;
}
.mat-card {
  display: flex;
  min-width: 200px;
  text-align: center;
  background: #ffffff;
  align-content: center;
}

.mat-card-header{
  align-content: center;
  padding: 5px;

}
.mat-card-title{
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color:  #ff6d39;
  font-family: "muli", serif;
  font-size: 22px;
}

.mat-card-subtitle {
  color: #000000;
  font-family: "muli", serif;
  font-size: 20px;
}

.mat-card-content{
  color: #000000;
  font-family: 'muli', serif;
  font-size: 20px;
}

.card button:hover {
  opacity: 0.7;

}

















/*h4.dis {*/
/*  display: inline-block;*/
/*  color: #ffffff;*/
/*  font-family: "muli";*/
/*  font-weight: 400;*/
/*  font-size: 17px;*/
/*  text-decoration: line-through #ea3201;*/
/*}*/

/*h4.dis span {*/
/*  text-decoration: line-through #ea3201;*/
/*}*/

/*.discount {*/
/*  display: inline-block;*/
/*}*/


