<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile *ngFor="let card of this.cardsList">
    <mat-card class="example-card">
      <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="width: 100%">
      <h1 class="title"> {{card.Name}} </h1>
      <mat-card-content>
        <h4><span class="fa fa-usd"></span> {{card.Price}}</h4>
        <h4 class="dis"><i class="fa fa-usd" aria-hidden="true"> </i> {{card.Price}}</h4>
        <p class="description">
          size:{{card.Dimension.length}} x {{card.Dimension.width}} x {{card.Dimension.height}}
          weight:{{card.Dimension.weight}}
          company:{{card.Company}}
        </p>
        <p class="description">
          Description:{{card.Description}}
        </p>
      </mat-card-content>
      <span class="foot"><i class="fa fa-shopping-bag"></i>Buy Now</span>
      <span class="foot"><i class="fa fa-shopping-cart"></i>Add TO Cart</span>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
