<mat-toolbar>
  <button mat-button (click)="this.openDialogAdd()">
    <mat-icon>add_circle_outline</mat-icon>
    <span>&nbsp;Add Bank</span>

    <!-- todo on click open modal -->
  </button>
  <button mat-button (click)="this.openDialog()" >
    <mat-icon>remove_circle_outline</mat-icon>
    <span>&nbsp;Remove Bank</span>
  </button>
</mat-toolbar>

<ag-grid-angular
  #agGridBanks
  style="width: 100%;"
  class="ag-theme-alpine"
  [gridOptions]="this.gridOptions"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>

<!-- todo add insert modal -->
