.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
mat-slider {
  width: 300px;
}
mat-form-field {
  width: 70px;
}
mat-form-field.category {
  width: 120px;
}
mat-form-field.example-full-description{
  width: 400px;
}
.example-card {
  max-width: 400px;
}
.example-header-image {
  background-size: cover;

}
