<mat-toolbar>
      <mat-form-field class="m-5">
        <mat-label>Categories</mat-label>
        <mat-select (selectionChange)="this.changeCategory($event)" [formControl]="Categories" multiple>
          <mat-select-trigger>
            {{Categories.value?.[0] || ''}}
            <span *ngIf="(Categories.value?.length || 0) > 1">
          (+{{(Categories.value?.length || 0) - 1}} {{Categories.value?.length === 2 ? 'other' : 'others'}})
        </span>
          </mat-select-trigger>
          <mat-option *ngFor="let category of categoriesList" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
  <mat-form-field>
    <input type="text" matInput placeholder="Search By Name" (keyup)="this.setSearch($event)" [(ngModel)]="this.search">
  </mat-form-field>
  <button mat-button class="ms-3 fs-5 shadow-none" (click)="this.setSortBy($event)">Sort By Price <mat-icon>{{this.arrowDirection}}</mat-icon></button>
</mat-toolbar>
