<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>add_circle_outline</mat-icon>
    <!-- todo on click open modal -->
  </button>
  <button mat-icon-button>
    <mat-icon>remove_circle_outline</mat-icon>
    <!-- todo on click get selected row and remove it -->
  </button>
</mat-toolbar>

<ag-grid-angular
  style="width: 100%; height: 100%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>

<!-- todo add insert modal -->
