<mat-toolbar>
  <span class="navbar-icon" style="font-size: x-large">🚚</span>
  <button mat-button class="navbar-tab" (click)="changeDomain(this.domains.products)">Products</button>
  <button mat-button class="navbar-tab" (click)="changeDomain(this.domains.orders)">Orders
  </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button (click)="this.logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-divider></mat-divider>

<customer-products *ngIf="this.currentDomain === this.domains.products"></customer-products>
<customer-orders *ngIf="this.currentDomain === this.domains.orders"></customer-orders>
